<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    {% if title %}
    <title>{{title}} - equation</title>
    {% else %}
    <title>Equation</title>
    {% endif %}

     <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!--向txt中输入时间 -->
    <script type="text/javascript">
    function startTime()
    {
      var today=new Date()
      var h=today.getHours()
      var m=today.getMinutes()
      var s=today.getSeconds()
      // add a zero in front of numbers<10
      m=checkTime(m)
      s=checkTime(s)
      document.getElementById('txt').innerHTML=h+":"+m+":"+s
      t=setTimeout('startTime()',500)
    }

    function checkTime(i)
    {
    if (i<10) 
      {i="0" + i}
      return i
    }
    </script>

    <!--计时器 -->
    <script type="text/javascript">
      var c=0
      var t
      function timedCount()
       {
       document.getElementById('txt').innerHTML=c
       c=c+1
       t=setTimeout("timedCount()",1000)
       }
    </script>

    <!--cookie-->
    <script type="text/javascript">
      function setCookie(){
        document.cookie = document.getElementById('txt').innerHTML
      }
    </script>
    <script type="text/javascript">
      function gettime(){
        document.getElementById('time').innerHTML = document.cookie
      }
    </script>

      <style type="text/css">
      h4.title{font-weight:bold; font-size: 170%;margin-left: -60px}
      h4.haveAns{font-size: 140%}
      div.start{margin: 60px;height: 30px}
      div.content{height:40px}
      input{height: 34px;width: 82px}
    </style>
    

  </head>
      <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">{{ _("四则运算器") }}</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/index">{{ _("主 页 ") }}</a></li>
              <li><a href="/hisScore">{{ _("历史成绩") }}</a></li>
              <li><a href="https://github.com/wapleeeeee/webEquation">{{ _("github地址 ") }}</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _("语言切换 ") }}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="{{url_for('index',language='zh_Hans_CN')}}">{{ _("简体中文 ") }}</a></li>
                  <li><a href="{{url_for('index',language='zh_Hant_TW')}}">{{ _("繁体中文 ") }}</a></li>
                  <li><a href="{{url_for('index',language='en')}}">{{ _("英语 ") }}</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    
    <div class="container">
      <div class = "starter-template">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
      </div>
    </div>

    {% block content %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </html>
