{% extends "base.html" %}
{% block content %}
<body>
    <div class="container">
      <div class = "jumbotron">
        <div class="start"><h4 class="title">{{user}},{{ _("您总计答题情况如下：") }}</h4></div>
        <div class="content"><h4 class="haveAns">{{ _("答题个数：") }}{{count}}</h4></div>
        <div class="content"><h4 class="haveAns">{{ _("正确个数：") }}{{correct}}</h4></div>
        <div class="content"><h4 class="haveAns">{{ _("共用时：") }}{{takeTime}} s</h4></div>
        <p class="text-center"><a href="{{ url_for('index' )}}"> <input type="button" class="btn btn-primary" value="{{_('返回主页')}}" ></a></p>
      </div>
    </div>
    
</body>
{% endblock %}
